<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">BUGET-ME-APP</h1>
        <p class="lead text-muted">A budget mobile web application that manages my budget and with a list of trasanctions associated with a category, so that I can see how much money I spent and on each expenses</p>
        <div class='d-flex justify-content-center gap-3'>
        <p><%= link_to "Login", new_user_session_path, class: 'btn btn-outline-primary btn-lg' %></p>
        <p><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-outline-primary btn-lg' %></p>         
        </div>
      </div>
    </div>
  </section>
</main>